<form action="/named-cat">
  <input type="text" name="name">
    <input type="submit" value="Submit">
</form>

  <% if @name %>
  <h1>My name is <%= @name %></h1>
  <% end %>
  <div>
    <img style='border: 3px dotted red'src='http://bit.ly/1eze8aE'>
  </div>
